* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 150%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  /* margin: 0 auto; */
  background-color: black;
  color: orange;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(15px);
  transform: scale(1.05);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "h"
    "n"
    "m"
    "f";
}

header {
  grid-area: h;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

header > h1 {
  align-self: center;
}

nav {
  grid-area: n;
  /* height: 100%; */
  position: sticky;
  top: 0;
  z-index: 1;
  align-self: center;
  background-color: black;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: orange;
}

main {
  grid-area: m;
}

#about,
#projects,
#contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.7;
}

.projects {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
}

#contact ul {
  list-style: none;
}

footer {
  grid-area: f;
  display: flex;
  justify-content: center;
}
